In [1]:
## contreras_correia@hotmail.com Time-series analysis

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
from datetime import datetime
from datetime import timedelta
import datetime

In [3]:
df = pd.read_csv(r'C:\Users\V0V01S7\Downloads\contreras_correia@hotmail.com.csv')

In [5]:
df = df.dropna()

In [11]:
df['ACTV_START_TS'] = pd.to_datetime(df['ACTV_START_TS'])
df['ACTL_ACTV_END_TS'] = pd.to_datetime(df['ACTL_ACTV_END_TS'])

In [12]:
df['ACTV_START_TIME'] = df['ACTV_START_TS'].apply(lambda x: x.time())
df['ACTV_END_TIME'] = df['ACTL_ACTV_END_TS'].apply(lambda x: x.time())
df.head()

,ACTV_START_TS,EXPC_ACTV_END_TS,ACTL_ACTV_END_TS,ACTV_DT,ACTV_DUR_MIN_QTY,ACTV_START_TIME,ACTV_END_TIME
0,2022-06-10 09:22:21.336,2022-06-10T13:30:00,2022-06-10 09:30:03.174,2022-06-10,7.70,09:22:21.336000,09:30:03.174000
1,2022-06-10 15:23:27.643,2022-06-10T19:00:00,2022-06-10 16:26:42.805,2022-06-10,63.25,15:23:27.643000,16:26:42.805000
2,2022-06-10 12:14:04.937,2022-06-10T16:00:00,2022-06-10 12:16:41.325,2022-06-10,2.62,12:14:04.937000,12:16:41.325000
3,2022-06-10 06:14:03.242,2022-06-10T10:00:00,2022-06-10 06:19:54.028,2022-06-10,5.85,06:14:03.242000,06:19:54.028000
4,2022-06-10 11:23:07.237,2022-06-10T15:30:00,2022-06-10 11:29:22.171,2022-06-10,6.25,11:23:07.237000,11:29:22.171000

In [19]:
end_time = timedelta(hours = df.ACTV_END_TIME[0].hour,minutes = df.ACTV_END_TIME[0].minute,seconds = df.ACTV_END_TIME[0].second)
start_time = timedelta(hours = df.ACTV_START_TIME[0].hour,minutes = df.ACTV_START_TIME[0].minute,seconds = df.ACTV_START_TIME[0].second)
end_time - start_time

datetime.timedelta(seconds=462)

In [28]:
test_df = df.groupby(['ACTV_DT']).sum()
test_df['0-1'] = ""
test_df

            ACTV_DUR_MIN_QTY 0-1
ACTV_DT
2021-10-10            332.43
2021-10-11            756.62
2021-10-12            857.78
2021-10-13            521.52
2021-10-14            239.07
...                      ...  ..
2022-06-20            164.60
2022-06-21            171.82
2022-06-22            510.98
2022-06-23            334.32
2022-06-24            256.80

[227 rows x 2 columns]

In [30]:
df['hour_slot'] = df.ACTV_START_TIME.apply(lambda x: x.hour)
df.head()

,ACTV_START_TS,EXPC_ACTV_END_TS,ACTL_ACTV_END_TS,ACTV_DT,ACTV_DUR_MIN_QTY,ACTV_START_TIME,ACTV_END_TIME,hour_slot
0,2022-06-10 09:22:21.336,2022-06-10T13:30:00,2022-06-10 09:30:03.174,2022-06-10,7.70,09:22:21.336000,09:30:03.174000,9
1,2022-06-10 15:23:27.643,2022-06-10T19:00:00,2022-06-10 16:26:42.805,2022-06-10,63.25,15:23:27.643000,16:26:42.805000,15
2,2022-06-10 12:14:04.937,2022-06-10T16:00:00,2022-06-10 12:16:41.325,2022-06-10,2.62,12:14:04.937000,12:16:41.325000,12
3,2022-06-10 06:14:03.242,2022-06-10T10:00:00,2022-06-10 06:19:54.028,2022-06-10,5.85,06:14:03.242000,06:19:54.028000,6
4,2022-06-10 11:23:07.237,2022-06-10T15:30:00,2022-06-10 11:29:22.171,2022-06-10,6.25,11:23:07.237000,11:29:22.171000,11

In [33]:
test_df = df.groupby(by=["ACTV_DT","hour_slot"]).sum()
test_df.to_csv(r'C:\Users\V0V01S7\Desktop\contreras_correia_edited.csv')

In [37]:
test_df

                      ACTV_DUR_MIN_QTY
ACTV_DT    hour_slot
2021-10-10 12                   255.88
           17                    76.55
2021-10-11 5                     23.58
           6                     46.07
           7                    132.42
...                                ...
2022-06-24 5                     37.57
           6                     37.21
           7                     39.53
           8                     42.50
           9                     39.02

[1894 rows x 1 columns]

In [41]:
!git init

'git' is not recognized as an internal or external command,
operable program or batch file.